<!DOCTYPE html>
<html data-th-replace="~{layout/public_layout :: layout}">
<body>
<div class="container">
    <div data-th-fragment="mainContent">
        <h1 data-th-text="#{bets.header}">Bets overview</h1>
        <div class="row" data-th-each="bet : ${allBets}">
            <div class="col-12">
                <p data-th-text="${bet.game}">Game: x vs. y</p>
            </div>
            <div class="col-3">
                <p data-th-text="${bet.user}">User x</p>
            </div>
            <div class="col-9">
                <p data-th-text="${bet.result}">3:0</p>
            </div>
        </div>
        <div class="row" data-th-if="${#lists.isEmpty(allBets)}">
            <div class="col">
                <p data-th-text="#{common.nodata}">no data</p>
            </div>
        </div>
    </div>
</div>
</body>
</html>
