<!DOCTYPE html>
<html data-th-replace="~{layout/public_layout :: layout}">
<body>
    <div class="container">
        <div data-th-fragment="mainContent">
            <h1 data-th-text="#{games.header}">Games overview</h1>
            <div class="row" data-th-each="level : ${gamesByLevel}">
                <div class="col-12">
                    <h4 data-th-text="#{${level.key.messageKey}}">Test round</h4>
                    <table class="table">
                        <thead>
                            <th data-th-text="#{games.table.header.kickoff}">Kick off time</th>
                            <th data-th-text="#{games.table.header.location}">Location</th>
                            <th data-th-text="#{games.table.header.game}">Match</th>
                            <th data-th-text="#{games.table.header.result}">Result</th>
                            <th data-th-text="#{games.table.header.bets}">Bets</th>
                        </thead>
                        <tbody>
                            <tr data-th-each="match : ${level.value}">
                                <td data-th-text="${{match.starttime}}">today</td>
                                <td data-th-text="${{match.location.name}}">somewhere</td>
                                <td>
                                    <img src="/static/img/flags/EN.png" class="img-fluid" alt="England"
                                         data-th-src="@{/static/img/flags/{icon}(icon=${match.homeTeam.teamKey} + '.png')}"
                                         data-th-alt="${{match.homeTeam.name}}"/>
                                    <span data-th-text="${{match.homeTeam.name}}">England</span>
                                    <span> vs. </span>
                                    <img src="/static/img/flags/EN.png" class="img-fluid" alt="England"
                                         data-th-src="@{/static/img/flags/{icon}(icon=${match.guestTeam.teamKey} + '.png')}"
                                         data-th-alt="${{match.guestTeam.name}}" />
                                    <span data-th-text="${{match.guestTeam.name}}">Brazil</span>
                                </td>
                                <td data-th-text="|${match.goalsHomeTeam?: '?'} : ${match.goalsGuestTeam?: '?'}|">2:0</td>
                                <td>
                                    <a data-th-href="@{/game/{gameId}/bet(gameId=${match.identifier()})}">
                                        <img src="/static/img/glyphicons/glyphicons-459-money.png"
                                            title="Bets" class="img-fluid" alt="Bets"
                                            data-th-title="#{games.table.header.bets}" data-th-alt="#{games.table.header.bets}"/>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row" data-th-if="${#maps.isEmpty(gamesByLevel)}">
                <div class="col">
                    <p data-th-text="#{common.nodata}">no data</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
