<!DOCTYPE html>
<html data-th-fragment="layout">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="../../static/css/bootstrap.min.css" data-th-href="@{/static/css/bootstrap.min.css}"/>

    <!-- Optional theme -->
    <link rel="stylesheet" href="../../static/css/bootstrap-theme.min.css" data-th-href="@{/static/css/bootstrap-theme.min.css}">
    <link rel="stylesheet" href="../../static/css/styles.css" data-th-href="@{/static/css/styles.css}" />
    <link rel="icon" href="../static/img/favicon.ico" data-th-href="@{/static/img/favicon.ico}" />
    <title data-th-text="#{app.title}">Betting Game</title>
</head>
<body>
<div class="container">
    <header>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menulinks" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" data-th-href="@{/}" href="#">
                        <span data-th-text="#{app.title}">Titel</span>
                    </a>
                </div>
                <div class="collapse navbar-collapse" id="menulinks">
                    <ul class="nav navbar-nav">
                        <li data-th-each="navItem : ${navigation}">
                            <a data-th-href="@{${navItem.url}}" href="#" data-th-text="#{${navItem.messageKey}}">
                                Test
                            </a>
                        </li>
                        <li data-th-remove="all"><a href="#">Test 2</a></li>
                        <li data-th-remove="all"><a href="#">Test 3</a></li>
                        <li data-th-remove="all"><a href="#">Test 4</a></li>
                        <li data-sec-authorize="isAuthenticated()">
                            <form method="post" data-th-action="@{/logout}" action="/logout">
                                <input type="submit" data-th-value="#{navigation.item.logout}" value="Logout"/>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <section class="content">
        <div data-th-replace="~{:: mainContent}">Content goes here</div>
    </section>
    <footer data-th-insert="~{footer :: copy}">
        <div>Copyright</div>
    </footer>
</div>

<!-- Latest compiled and minified JavaScript -->
<script src="../../static/js/jquery.min.js" data-th-src="@{/static/js/jquery.min.js}"></script>
<script src="../../static/js/bootstrap.min.js" data-th-src="@{/static/js/bootstrap.min.js}"></script>
</body>
</html>
