<!DOCTYPE html>
<html data-th-replace="~{layout/public_layout :: layout}">
<body>
    <div class="container">
        <div data-th-fragment="mainContent">
            <h1 data-th-text="#{registration.header}">Registration</h1>
            <p data-th-text="#{registration.confirmation.message}" class="alert alert-success">
                Did registration succeed?
            </p>
            <p data-th-text="#{registration.confirmation.text}">Thanks for registration</p>
        </div>
    </div>
</body>
</html>