.title-jumbotron {
  background-color: #ffffff !important;
}

.content {
    margin-top: 1.5rem;
}

footer {
    border-top: 1px solid #dddddd;
}

.errorMessage {
    color: #a94442;
}

.errorFormElement {
    background-color: #a94442;
}
